body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f8;
}

/* NAVBAR */
.navbar {
  background: #ffffff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0,0,0,0.08);
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #66a80f;
}

.logo span {
  color: #333;
}

.add-btn {
  background: #66a80f;
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  text-decoration: none;
}

/* FORM CARD */
.card {
  width: 600px;
  background: white;
  margin: 40px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.1);
}

.card h2 {
  margin-bottom: 20px;
}

/* FORM */
.form-group {
  margin-bottom: 15px;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.gender-group,
.dept-group {
  display: flex;
  gap: 15px;
}

.save-btn {
  background: #66a80f;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  cursor: pointer;
}

/* TABLE */
.table-container {
  width: 90%;
  margin: 40px auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.1);
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #495057;
  color: white;
}

th, td {
  padding: 15px;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid #eee;
}

.tag {
  background: #d8f5a2;
  color: #3c6e00;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  margin-right: 5px;
}
.date-group {
  display: flex;
  gap: 10px;
}

.date-group select {
  flex: 1;
}
/* OVERLAY */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* MODAL BOX */
.modal-box {
  background: #fff;
  width: 600px;
  max-width: 90%;
  border-radius: 10px;
  padding: 25px;
  position: relative;
  box-shadow: 0 12px 30px rgba(0,0,0,0.2);
}

/* CLOSE BUTTON */
.close-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 22px;
  cursor: pointer;
  color: #666;
}
